body {
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  a {
    color: $color-primary;
    text-decoration: none;
    transition: all 0.3s ease;
    
    // color: green !important;
    // &:hover,
    // &:focus,
    // &:active {
    //     color: $typographic-link-s-font-color;
    // }
  }
}

