.FooterLayout {
    margin-top: 2rem;
    .footerLayout-container {
        height: 4rem;
        border-top: 1px solid black;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
